*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.debug *{
    border: 1px solid cyan;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main{
    width: 100%;
    height: 90vh;

    background-color: black;    
}

nav{
    width: 100%;
    height: 5%;

    position: relative;
}

button{
    font-size: 12px;
    cursor: pointer;

    border: transparent;
    background-color: transparent;
}

img{
    width: 100%;
    height: 100%;
}

/* topnav-btns */

#topnav-btns{
    width: 12%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;

    padding: 2px;

    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.btn{
    width: 100%;
    height: 100%;

    background-color: rgba(100, 100, 100, 0.8);   
}

.speaker{
    width: 85%;

    font-weight: bold;
    border-radius: 5px;   
}

.expand{
    width: 15%;

    border-radius: 5px;
}

/* grid-container */

#grid-container{
    width: 90%;
    height: 95%;

    margin: 0 auto;
    
    padding: 10px;


    display: flex;
    flex-flow: row wrap;

    overflow-y: auto;
}

.user-card{
    width: calc(100% / 7 - 4px);
    height: calc(100% / 5);

    margin: 2px 2px;
    padding: 1px;

    position: relative;
}


/* user-video */

.user-video{
    height: 100%;
}

.user-name{
    width: 60%;
    
    background-color: rgba(142, 142, 142, 0.6);

    position: absolute;
    bottom: 2px;
    left: 2px;

    font-size: 14px;

    margin: 1px;

    display: flex;
    flex-wrap: wrap;
}



/* footer */


#footer-navbar{
    width: 100%;
    height: 10vh;

    background-color: rgb(40, 40, 40);

    display: flex;
    justify-content: space-between;
}


#right-btns, #exit-call{
    width: 10%; 
    display: flex;
    gap: 2px;
    padding: 2px;
}

#tools{
    width: 50%;

    padding: 1px;

    display: flex;   
}

/* inside navabar - divs */

/* right */

#right-btns > button{
    min-width: 50%;
}

#mic, #cam, #menu{
    position: relative;
}

.central > i{
    font-size: 30px;
}

.arrow i{
    position: absolute;
    top: 0px;
    right: 0px;
}

/* central part */


#tools .icon{
    width: 50%;
}

ul{
    height: 100%;
    list-style-type: none;
    display: flex;
    gap: 1px;   

    
}

ul > li{
    width: calc(100% / 4);
    height: 100%;

    text-align: center;

}

footer button .fa-solid{
    display: block;
    padding: 2px;
}


li .fa-solid{
    font-size: 30px;
    display: block;
    padding: 2px;
}

#share i{
    color: green;
}

li button{
    width: 100%;
    height: 100%;
}

#tools #menu{
    width: 2%;
}

/* exit call */















#exit-call > div{
    
    width: 100%;
    background-color: darkslategray;
}











/* hover */


/* .btn:hover{
    background-color: rgba(181, 179, 179, 0.7);
}

#right-btns:hover button{
    background-color: dimgray;
    border-radius: 10px;
}

.arrow:hover i{
    background-color: rgb(129, 129, 129);
    
    border-radius: 5px;
}


li:hover > button{
    background-color:dimgray ;
    border-radius: 10px;
}


img:hover{
    transform: scale(1.03);
}

.user-name:hover{
    filter: brightness(90%);
} */

















