*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.debug *{

    border: 1px solid cyan;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main{
    width: 100%;
    height: 90vh;

    background-color: black;    
}

nav{
    width: 100%;
    height: 5%;

    position: relative;
}

button{
    font-size: 12px;
    cursor: pointer;

    border: transparent;
}

/* topnav-btns */

#topnav-btns{
    width: 12%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;

    padding: 2px;

    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.btn{
    height: 100%;

    background-color: rgba(100, 100, 100, 0.8);   
}

.speaker{
    width: 85%;

    font-weight: bold;
    border-radius: 5px;   
}

.expand{
    width: 15%;
    
    border-radius: 5px;
}

/* grid-container */

#grid-container{
    width: 90%;
    height: 95%;

    margin: 0 auto;
    
    padding: 10px;

    background-color:midnightblue;

    display: flex;
    flex-flow: row wrap;

    overflow-y: auto;
}

.user-card{
    width: calc(100% / 7 - 4px);
    height: calc(100% / 5);

    margin: 2px 2px;
    padding: 2px;

    background-color: darkcyan;


    position: relative;
}


/* user-video */

.user-video{
    width: 100%;
    height: 100%;

    background-color:royalblue;
}

.user-name{
    width: 70%;
    height: 15%;

    background-color: darkseagreen;

    position: absolute;
    bottom: 0;
    left: 0;
}

/* footer */



#footer-navbar{
    width: 100%;
    height: 10vh;

    background-color: blue;

    display: flex;
    justify-content: space-between;
}

#footer-navbar > div{
    background-color: cornflowerblue;
    height: 100%;
}

#right-btns, #exit-call{
    width: 10%; 
    display: flex;
    gap: 2px;
    padding: 2px;
}

#tools{
    width: 50%;

    padding: 2px;

    display: flex;
    
}

/* inside navabar - divs */

#right-btns > div{
    width: 50%;
    height: 100%;

    background-color: darkslategrey;
}

#tools > div{
    height: 100%;
    background-color: darkslategray;
}

#tools .icon{
    width: 50%;
}

#tools .menu{
    width: 5%;
}

#exit-call > div{
    
    width: 100%;
    background-color: darkslategray;
}

















